<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p" 
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:jee="http://www.springframework.org/schema/jee"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:youi="http://www.springframework.org/schema/youi"
		xsi:schemaLocation="
			http://www.springframework.org/schema/youi 
			http://www.springframework.org/schema/youi/spring-youi-2.0.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee 
			http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<bean id="authc" class="com.gsoft.framework.security.DefaultFormAuthenticationFilter">
		<!-- 启用校验码控制 -->
		<property name="vcodeCheck" value="false"></property>
	</bean>
	
	<!-- 会员页面过滤器 -->
	<bean id="authcmember" class="com.gsoft.member.base.security.MemberFormAuthenticationFilter">
		<!-- 启用校验码控制 -->
		<property name="vcodeCheck" value="false"></property>
	</bean>
	
	<!-- 配置了两个以上的realms需要配置authorizer -->
	<bean id="authenticator" class="com.gsoft.framework.security.DefaultModularRealmAuthenticator">
		<property name="realms">
			<list>
				<ref bean="wxOAuthRealm"/>
				<ref bean="realm"/>
			</list>
		</property>
	</bean>
	<!-- shiro web 安全管理类 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realms">
			<list>
				<ref bean="wxOAuthRealm"/>
				<ref bean="realm"/>
			</list>
		</property>
		<property name="cacheManager" ref="cacheManager"></property>
		<property name="authenticator" ref="authenticator"></property>
	</bean>
	
	<!-- 过滤器 -->
	<bean id="shiroFilter" class="com.gsoft.framework.security.DefaultShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="filters">
			<map>
				<entry key="wxOAuth" value-ref="wxOAuth"/>
				<entry key="authc" value-ref="authc"/>
				<entry key="authcmember" value-ref="authcmember"></entry>
			</map>
		</property>
		<!-- other properties as necessary ... -->
		<property name="filterChainDefinitions">
			<value>
				${login.url} = authc
				/logout.html = anon
				/home.html = anon
				/register.html = anon
				/common/** = anon
				/esb/** = anon
				/portal/** = anon
				/index.html = authc
				/page/** = authc
				/weixin/*/login.html= wxOAuth
				${wx.login.failureUrl}=anon
				/member/*/logout.html=anon
				/member/**=authcmember
	        </value>
		</property>
		<!--  实现 com.gsoft.framework.core.security.UrlResourceManager接口，
			    从数据库表中生成url和角色权限的对应关系 ,比如:
			  /page/gsoft.mgn.project/project.html，roles[admin,super]
			    表示地址可以被admin和super访问
		<property name="urlResourceManager" ref=""></property>
		 -->
		<property name="loginUrl" value="${login.url}"/>
		<property name="unauthorizedUrl" value="/error.jsp"/>
		<property name="successUrl" value="/index.html"/>
	</bean>
	
	<!-- 开发用户提供类 -->
<!-- 	<bean id="devAccountProvider" class="com.gsoft.framework.security.DevAccountProvider"> -->
<!-- 		<property name="users"> -->
<!-- 			<map> -->
<!-- 				<entry key="module" value="123456"></entry> -->
<!-- 			</map> -->
<!-- 		</property> -->
<!-- 	</bean> -->


	<!-- 统一的用户服务 -->
	<bean name="userService" class="com.gsoft.framework.security.UserServiceImpl">
		<property name="cacheManager" ref="cacheManager"></property>
	</bean>
	
	<!-- 基于用户服务的菜单提供类 -->
	<bean id="menuProvider" class="com.gsoft.framework.security.SecurityMenuProvider">
		<property name="userService" ref="userService"></property>
	</bean>
	
	<!-- 开发用户适配  -->
	<bean id="devUserAdapter" class="com.gsoft.framework.security.dev.DevUserAdapter">
	</bean>
	
	<!-- 用户密码表单登录  -->
	<bean id="realm" class="com.gsoft.framework.security.FormLoginRealm">
		<property name="credentialsMatcher" ref="credentialsMatcher"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	
	<!-- 密码匹配  -->
	<bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
		<property name="hashAlgorithmName" value="${security.hashAlgorithmName}"></property>
	</bean>
	
</beans>
