@CHARSET "UTF-8";

.youi-menu.v-menu h1 {
	border-top: 1px solid #fcfcfc;
	border-bottom: 1px solid #c8c8cb;
	background: #efeff0;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efeff0),
		color-stop(1, #fafafa) );
	background: -ms-linear-gradient(bottom, #efeff0, #fafafa);
	background: -moz-linear-gradient(center bottom, #efeff0 0%, #fafafa 100%);
	background: -o-linear-gradient(bottom, #efeff0, #fafafa);
	filter: progid : dximagetransform.microsoft.gradient ( startColorStr =
		'#e3e3e3', EndColorStr = '#ffffff' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa',EndColorStr='#efeff0')";
	border-left: none;
	color: #444;
	display: block;
	font-weight: normal;
	font-size: 1em;
	line-height: 2.0em;
	padding: .25em .25em .25em 1em;
	margin-bottom: 0px;
	text-shadow: none;
	text-transform: none;
	margin: 0px;
}

.youi-menu.v-menu .menu-bar-content {
	display: none;
	background:white;
	overflow-y: auto;
}

.youi-menu.v-menu .menu-bar-content ul.menu-content-ul {
	padding: 1px 2px 1px 0px;
}

.youi-menu.v-menu .menu-bar-content li {
	position: relative;
	display: block;
	padding: 3px 0px 3px 16px;
}

.youi-menu.v-menu .menu-bar-content li.selected>span>.tree-a{
	color:red;
}

.youi-menu.v-menu .menu-bar-content li .tree-span {
	padding-left: 5px;
	background-position: 0px 0px;
}

.youi-menu.v-menu .menu-bar-content li .tree-a {
	background: transparent;
	color: black;
}

.youi-menu.v-menu .menu-bar-content li ul{
	padding-left:0px;
}

.youi-menu.v-menu .youi-icon.menubar {
	background-image: url(images/menu-icon.png);
	padding: 4px 12px;
	line-height: 28px;
}

.youi-menu.v-menu .sys .youi-icon.menubar {
	background-position: -5px -4px;
}

.youi-menu.v-menu .fin .youi-icon.menubar {
	background-position: -27px -4px;
}

.youi-menu.v-menu .adm .youi-icon.menubar {
	background-position: -50px -4px;
}

.system-menu-search {
	padding: 1px 1px 0px 1px;
}

.system-menu-search .form-control {
	height: 30px;
}

.youi-menu.v-menu .tree-trigger {
	float: right !important;
	position: relative;
	top: 3px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 10px;
}

.youi-menu.v-menu .tree-trigger:before {
	content: "\e079";
}

.youi-menu.v-menu .expanded>.tree-trigger:before {
	content:"\e114";
}