<?xml version="1.0" encoding="UTF-8"?>
<menus>
	<menu id="010000" text="微信服务号">
		<menu id="010100" text="图片管理"  href="page/wx.wxmessage.wxupload/wxUpload.html"></menu>
		<menu id="010200" text="消息管理"  href="page/wx.wxmessage.wxmessage/wxMessage.html"></menu>
		<menu id="010103" text="群发管理"  href="page/wx.wxmessage.wxmass/wxMass.html"></menu>
		<menu id="010104" text="粉丝管理"  href="page/wx.wxmember.wxMember/wxFollower.html"></menu>
	</menu>
	
	<menu id="030000" text="微信信息">
		<menu id="030100" text="公众号管理" href="page/wx.wxsubscrip.wxsubscription/wxSubscription.html"></menu>
		<menu id="030200" text="微信用户" href="page/wx.wxmember.wxmember/wxMember.html"></menu>
		
		<menu id="030300" text="角色管理" href="page/security.fuc.role/role.html"></menu>
		<menu id="030400" text="人员管理" href="page/security.agt.user/user.html"></menu>
		<menu id="030500" text="系统菜单" href="page/security.fuc.menu/menu.html"></menu>
		<menu id="030601" text="代码集管理" href="page/codemap/codemap.html"></menu>
	</menu>
	
</menus>
